<html>
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css"  media="screen,projection"/>
    <link href="/static/base.css" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>To-Do lists</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col m6  offset-m3">
                <div class="blue-text center-align text-darken-2">
                    <h1>{% block header_text %}{% endblock %}</h1>
                </div>
                <form method="post" action="{% block form_action %}{% endblock %}">
                    {% csrf_token %}
{#                    <input id="id_new_item" name="item_text" placeholder="Enter a to-do item" />#}
                    {{ form.text }}
                {% if error %}
                    <div class="input-field has-error">
                        <span class="helper-text" data-error="wrong">{{ error }}</span>
                    </div>

                {% endif %}
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col m6  offset-m3">
                {% block table %}
                {% endblock %}
            </div>
        </div>
    </div>



    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>